<template>
  <div class="form">
    <a-form
      ref="formRef"
      name="custom-validation"
      :model="formState"
      v-bind="layout"
      @finish="handleFinish"
      @finishFailed="handleFinishFailed"
    >
      <a-form-item has-feedback label="Title" name="title">
        <a-input v-model:value="formState.title" />
      </a-form-item>
      <a-form-item has-feedback label="Description" name="content">
        <a-textarea v-model:value="formState.content" />
      </a-form-item>
      <a-form-item :wrapper-col="{ span: 14, offset: 4 }">
        <a-button type="primary" html-type="submit">{{
          route.params.id != "new" ? "Update" : "Create"
        }}</a-button>
        <a-button style="margin-left: 10px" @click="resetForm">Reset</a-button>
      </a-form-item>
    </a-form>
  </div>
</template>
<script setup>
import { reactive, ref, onMounted, watch } from "vue";
import { useStore } from "vuex";
import { useRoute, useRouter } from "vue-router";
const store = useStore();
const route = useRoute();
const router = useRouter();
const formRef = ref();
const formState = ref({
  title: "",
  content: "",
  done: false,
  deleted: false,
  id: Math.random(),
});

const layout = {
  labelCol: {
    span: 4,
  },
  wrapperCol: {
    span: 14,
  },
};
const handleFinish = (values) => {
  let status = route.params.id != "new" ? "old" : "new";
  store.commit("setTask", { status, payload: formState.value });
  router.push("/tasks");
};
const handleFinishFailed = (errors) => {
  console.log(errors);
};
const resetForm = () => {
  formRef.value.resetFields();
};

watch(
  () => route.params.id,
  (new_id) => {
    if (new_id == "new") {
      formState.value = {
        title: "",
        content: "",
        done: false,
        deleted: false,
        id: Math.random(),
      };
    } else {
      formState.value =
        store?.state?.tasks?.find(
          (task) => task.id == route?.params?.id && !task.deleted
        ) || formState.value;
    }
  }
);

onMounted(() => {
  if (route.params.id != "new") {
    formState.value =
      store?.state?.tasks?.find(
        (task) => task.id == route?.params?.id && !task.deleted
      ) || formState.value;
  }
});
</script>
