<script></script>
<template>
  <div class="container">
    <div class="wrapper">
      <div class="left-side">
        <h3>Tasks list</h3>
        <span>Makes your life easier</span>
      </div>
      <div class="right-side">
        <div class="img">
          <img src="@/assets/media/main-image.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</template>
