<script setup>
import { onMounted, ref, computed } from "vue";
import { RouterLink } from "vue-router";
import { useStore } from "vuex";
const list = computed(() => {
  return store?.getters?.tasks;
});
const store = useStore();
const count = 10;
const initLoading = ref(true);
const loading = ref(false);
onMounted(() => {
  initLoading.value = false;
});
const onDelete = (id) => {
  store.commit("deleteTask", { id });
};
const onDoneClick = (id) => {
  store.commit("doneTask", { id });
};
</script>

<template>
  <a-list
    class="demo-loadmore-list"
    :loading="initLoading"
    item-layout="horizontal"
    :data-source="list"
  >
    <template #loadMore>
      <div
        v-if="!initLoading && !loading"
        :style="{
          textAlign: 'center',
          marginTop: '12px',
          height: '32px',
          lineHeight: '32px',
        }"
      >
        <a-button><router-link to="/form/new">Create</router-link></a-button>
      </div>
    </template>
    <template #renderItem="{ item }">
      <a-list-item>
        <template #actions>
          <a-button @click="onDoneClick(item.id)" v-if="!item.done">
            <FileDoneOutlined />
          </a-button>
          <router-link :key="item.id" :to="`/form/${item.id}`">
            <EditTwoTone />
          </router-link>
          <a-popconfirm
            title="Are you sure delete this task?"
            ok-text="Yes"
            cancel-text="No"
            @confirm="onDelete(item.id)"
          >
            <DeleteTwoTone />
          </a-popconfirm>
        </template>
        <a-skeleton avatar :title="false" :loading="!!item.loading" active>
          <a-list-item-meta :description="item.content">
            <template #title>
              <a href="https://www.antdv.com/">{{ item.title }}</a>
            </template>
            <template #avatar>
              <a-avatar :src="item.picture" />
            </template>
          </a-list-item-meta>
          <a-tag :color="item.done ? 'green' : 'gray'">{{
            item.done ? "Done" : "In process"
          }}</a-tag>
        </a-skeleton>
      </a-list-item>
    </template>
  </a-list>
</template>

<style scoped>
.demo-loadmore-list {
  min-height: 350px;
}
</style>
