<script setup>
import { RouterLink } from "vue-router";
</script>

<template>
  <div class="logo">
    <router-link to="/"><h1>Tasks</h1></router-link>
  </div>
  <a-menu theme="dark" mode="horizontal" :style="{ lineHeight: '64px' }">
    <a-menu-item key="1"
      ><router-link :to="'/tasks'">Tasks list</router-link></a-menu-item
    >
    <a-menu-item key="2"
      ><router-link :to="'/form/new'">Form</router-link></a-menu-item
    >
  </a-menu>
</template>
