.container{
	max-width: 1800px;
	margin: 0 auto;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.logo{
	color: white;
	display: flex;
	align-items: center;
}
.logo h1{
	font-size: 60px;
}

.form{
	margin-top: 50px;
}

.wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 90vh;
}
.wrapper .left-side{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrapper .left-side h3{
	font-size: 36px;
}
.wrapper .left-side span{
	font-size: 24px;
}

.wrapper .right-side .img{
	height: 400px;
	width: 700px;
}
.wrapper .right-side .img img{
	height: 100%;
	width: 100%;
	object-fit: contain;
}